<div style="display: flex; flex-direction: column;height: 100%;">
    <header>
        <h1>Command View</h1>
        <div style="position: relative; width: min-content;">
            <button @click="htmx.find('#player-list').open ? htmx.find('#player-list').close() : htmx.find('#player-list').show()">Players</button>
            <dialog id="player-list" style="position: absolute; top: 1.5rem; width: 10rem;">
                <div style="width:100%; background-color: indianred;">
                    <h2>Player List</h2>
                    <div>
                        <button style="border: none;" @click="traveller.showModal('player-info')">
                            <h6>Player Char Name</h6>
                            <p>AKA: (USERNAME)</p>
                            <p>Status: <span>Player Creation</span></p>
                         </button> 
                    </div>
                </div>
            </dialog>
        </div>
    </header>
    <main style="display: flex;overflow: hidden; height: 100%;">
        <section style="flex: 1 1 auto; background-color: black;">
            <svg style="height: 100%; width: 100%;"></svg>
        </section>
        <section style="width: 15%;background-color: yellowgreen;display: flex;flex-direction: column;gap:4px;">
            <h3>Notifcations</h3>
            <div id="global-feed" @click="traveller.viewMessage($event)" style="overflow-y:scroll;scrollbar-width: thin; height: 100%;">
              
            </div>
            <form id="chat-general" @submit.prevent="traveller.broadcastMessage($event)" style="display: flex;flex-direction: column;gap:2px; margin-bottom: 4px;">
                <textarea name="msg" cols="5" rows="10" style="font-size: 0.8rem;letter-spacing: 1px;" placeholder="Message"></textarea>
                <button type="submit">Send</button>
            </form>
        </section>
    </main>
    <footer>
    
    </footer>
    <dialog id="message-content" style="width:10%;height: 15%;padding: 0;">
        <header style="display: flex;justify-content: end;">
            <button @click="htmx.find('#message-content').close()">X</button>
        </header>
        <p></p>
    </dialog>
    <dialog id="player-info" data-player-id="cm08ca5m800003g05po5i679k" style="width:60%;height: 70%;padding: 0;">
       <div style="display: flex;flex-direction: column;height: 100%;overflow:hidden;">
        <header style="display: flex;justify-content: end;">
            <button @click="htmx.find('#player-info').close()">X</button>
        </header>
        <main style="display: flex;height: 100%;">
            <section style="background-color: cadetblue; display: flex;">
                <div style="display: flex;flex-direction: column; border-right: solid black 1px;">
                    <div data-id="player-info" style="height: max-content">
                        <div>   Name: Dzaeth Dar </div>
                        <div>
                            <span>Rads: N/A</span>
                            <span>Age: 43</span>
                        </div>
                        <div>Species: Vargr</div>
                        <div>Species Traits: 
                            <div>
                                <span>Bite</span>
                                <span>Heightend Senses</span>
                            </div>
                        </div>
                        <div>Homeword: N/A</div>
                    </div>
                    <div data-id="study" style="height: max-content;">
                        <div>Training in Skill: <span></span></div>
                        <div>Weeks: <span></span>/<span>24</span></div>
                        <div>Study Periods Complete: <span></span></div>
                    </div>
                    <div data-id="characteristics" style="height: max-content;">
                        <h3>Characteristics</h3>
                        <div style="display: flex; justify-content:space-evenly; flex-wrap: wrap; align-content: flex-start;">
                            <div>
                                <div>Strenght: <span>4</span></div>
                                <span>DM: <span>-1</span></span>
                            </div>
                            <div>
                                <div>Dexterity: <span>9</span></div>
                                <span>DM: <span>1</span></span>
                            </div>
                            <div>
                                <div>Endurance: <span>3</span></div>
                                <span>DM: <span>-1</span></span>
                            </div>
                            <div>
                                <div>Intellect: <span>12</span></div>
                                <span>DM: <span>2</span></span>
                            </div>
                            <div>
                                <div>Education: <span>5</span></div>
                                <span>DM: <span>-1</span></span>
                            </div>
                            <div>
                                <div>Social: <span>7</span></div>
                                <span>DM: <span>0</span></span>
                            </div>
                        </div>
                        <div>
                            <span>PSI: <span>0</span></span>
                            <span>DM: <span>0</span></span>
                        </div>
                    </div>
                    <div data-id="skills" style="height: 100%;">
                        <h3>Skills</h3>
                        <div style="overflow-y: scroll; scrollbar-width: thin; height: 100%;">
                            <div>Astrogation: <span>1</span></div>
                            <div>Athletics (dexterity) <span>0</span></div>
                            <div>Flyer (wing) <span>1</span></div>
                        </div>
                    </div>
                </div>

                <div style="display: flex; flex-direction: column;">
                    <div data-id="finances" style="height: max-content;">
                        <h1>Finances</h1>
                        <div style="display: flex; justify-content: space-evenly; flex-wrap: wrap;">
                            <div>
                                <h4 style="padding: 0;">Pension:</h4>
                                <div>CR: <input value="2000" style="width: 45px;"/></div>
                                <div>Type: <select> <option value="yearly">Yearly</option> </select> </div>
                            </div>
                            <div>
                                <h4 style="padding: 0;">Debt:</h4>
                                <div>CR: <input value="0" style="width: 45px;"/> </div>
                            </div>
                            <div>
                                <h4 style="padding: 0;">Cash On Hash:</h4>
                                <div>CR: <input value="9920" style="width: 45px;"/> </div>
                            </div>
                            <div>
                                <h4 style="padding: 0;">Monthly ship payments:</h4>
                                <div>CR: <input value="0"style="width: 45px;"/></div>
                            </div>
                            <div>
                                <h4 style="padding: 0;">Living Cost:</h4>
                                <div>CR: <input value="1500"style="width: 45px;"/></div>
                                <div>Type: <select> <option value="monthly">monthly</option> </select></div>
                            </div>
                        </div>
                    </div>

                    <div data-id="augments" style="height: 100%;">
                        <h1>Augments</h1>
                        <table>
                            <thead>
                                <tr>
                                    <th>Type</th>
                                    <th>TL</th>
                                    <th>Improvement</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Cognitive Augentation</td>
                                    <td>12</td>
                                    <td>INT +1</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                
                    <div style="height: 100%;">
                        <h4>Notes</h4>
                        <textarea placeholder="Notes" style="height: 100%;width: 100%;"></textarea>
                    </div>
                </div>
            </section>
            <section style="background-color: crimson; overflow: hidden; display: flex; flex-direction: column; width: 15rem; flex-shrink: 0;">
                <div>
                    Inventory
                </div>
                <div @click="traveller.onInventoryClick($event)" style="overflow-y:scroll; height: 100%; border-top: black solid 1px; gap: 4px; border-bottom: black solid 1px; display: flex;flex-direction: column;">
                    <div data-id="item" data-type="weapon" data-mass="15" style="padding: 4px 6px; background-color: darkcyan;">
                        <div>Item Type: Weapon</div>
                        <div>Name: Stunner</div>
                        <div>TL:  10</div>
                        <div>Range: 5ft</div>
                        <div> Damage: 2D+3</div>
                        <div>KG: 15kg</div>
                        <div>Magazine: 100</div>
                        <div>Traits: 
                            <div><span>Stun</span><span>zero-G</span></div>
                        </div>
                    </div>
                    <div data-id="item" data-type="equipment" data-mass="0" style="padding: 4px 6px; background-color: darkcyan;">
                        <div>Item Type: Equipment</div>
                        <div>Name: Mobile Comm (TL8)</div>
                        <div>Mass: 0KG</div>
                    </div>
                    <div data-id="item" data-type="armor" data-mass="10" style="padding: 4px 6px; background-color: darkcyan;">
                        <div>Item Type: Armor</div>
                        <div>Type: Cloth (TL7)</div>
                        <div>Rad: None </div>
                        <div>Protection: 15</div>
                        <div>KG: 10KG</div>
                        <div>Options: None</div>
                    </div>
                </div>
                <div>
                    Total Carried Mass: <span>NAN</span>
                </div>
            </section>
            <aside style="width: 15rem;display: flex;flex-direction: column; flex-shrink: 0;">
                <div style="height: 100%; overflow-y: scroll;" id="private-message-board"></div>
                <form @submit.prevent="traveller.broadcastMessage($event,htmx.find('#player-info').getAttribute('data-player-id'))"  style="display: flex;flex-direction: column;gap:2px; margin-bottom: 4px;">
                    <textarea name="msg" cols="5" rows="10" style="font-size: 0.8rem;letter-spacing: 1px;" placeholder="Message"></textarea>
                    <button>Send</button>
                </form>
            </aside>
        </main>
       </div>
    </dialog>
</div>
